
/build
/coverage
/data/
*.db
*.db-journal
# debug
# dependencies
.DS_Store
/.env
.env*.local
# IDE
.idea/
# local env files
# misc
/.next/
next-env.d.ts
# next.js
/node_modules
npm-debug.log*
/out/
*.pem
# PlayableForge data
/.pnp
.pnp.js
/prisma/dev.db
/prisma/dev.db-journal
# production
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/src/generated/prisma
*.swo
*.swp
# testing
*.tsbuildinfo
# typescript
# vercel
.vercel
.vscode/
yarn-debug.log*
yarn-error.log*
.yarn/install-state.gz
